<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel</title>

    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/vendor/jquery/jquery-1.11.1.js"></script>


</head>
<body>


    <div class="container">
        <div class="col-md-12">
            <header>
                <img src="/img/logo.png" alt="Meadowlark Travel Logo">
            </header>
        </div>
    </div>


    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="col-md-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="/"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tours <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/tours/hood-river">Hood River Tour</a></li>
                <li><a href="/tours/oregon-coast">Oregon Coast</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</div>

</nav>

    <div class="container">

        {{{body}}}

    </div>

    <footer>
        <div class="container">
            <div class="col-md-12">
                <h3>
                    &copy; Things and stuff
                </h3>
            </div>
        </div>
    </footer>


    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>
        <script src="/qa/tests-global.js"></script>

        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}
</body>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

</html>
