<div class="col-md-8">
    <h1>Oregon Coast</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus tempus, tempor magna eget, auctor turpis. Nam velit turpis, tincidunt ut fringilla ut, rutrum id augue. Suspendisse odio magna, porta at malesuada eget, rhoncus ut elit. Morbi sagittis eros id risus tristique, condimentum hendrerit odio imperdiet. Donec vitae ullamcorper sapien, nec suscipit nunc. Vestibulum laoreet odio nulla, tincidunt venenatis arcu posuere sed. Ut in augue ligula. Maecenas interdum pharetra feugiat. Nunc felis metus, rutrum quis laoreet posuere, pretium a eros. Maecenas laoreet est tincidunt, congue ante eu, vehicula lacus. Morbi felis nibh, congue sed fringilla quis, dapibus non nibh. Nunc pulvinar metus vitae ultricies malesuada. In interdum magna nisl, sed facilisis lacus facilisis non. Curabitur ipsum tortor, tempor sit amet eros sit amet, tempus vestibulum diam.</p>

    <a class="requestGroupRate" href="/tours/request-group-rate">Request Group Rate.</a>



</div>
