<div class="col-md-8">
    <h1>Request Group Rate</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a lacus tempus, tempor magna eget</p>


    <form>
        <div class="form-group">

        <input class="form-control" type="hidden" name="referrer">

        <label for="name">Name:</label>
        <input class="form-control" type="text" id="filedName" name="name">
    </div>
        <div class="form-group">

        <label for="groupSize">Group Size</label>
        <input class="form-control" type="email" name="email">


        </div>

        <input class="btn btn-default" type="submit" value="Submit">

    </form>

    <script>
        $(document).ready(function(){
            $('input[name="referrer"]').val(document.referrer);
        });
    </script>


</div>
